
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');


.enfasis{
	color: #2AF14C;
	background-color:#252121;
	border: 1px dashed white;
	padding:3px;
	text-transform:uppercase;
	text-align:center;
	font-family: 'Comfortaa', cursive;
	
	
	}

.enfasisDos{
	color: #FEAA47;
	background-color:#252121;
	border: 1px dashed white;
	padding:3px;
	text-transform:lowercase;
	text-align:center;
	width:342px;
	font-size:15px;

	
}